.centro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.EtiquetasNav{
    background-color: #8b9e8f;
    color: white;
    width: 28%;
    border-bottom-right-radius: 45px;
    height: 54px;
}

.EtiquetasRecomendados{
    text-decoration: none;
    color:white;
    background-color: #CCD1C8;
    height: 200px;
    width: 300px;
}

.EtiquetasRecomendados:hover{
    opacity: 85%;
}

.EtiquetasAside {
    position: absolute;
    color: #827a6f;
    top: 150px;
    right: 0;
    background: #ede6d3;
    padding: 30px 30px 70px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    max-width: 20%;
    overflow: auto;
    z-index: 1;
    width: 20%;
}

.CampanasAside {
    position: fixed;
    color: #827a6f;
    top: 150px;
    left: 0;
    background: #ede6d3;
    padding: 30px 30px 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 20%;
    overflow: auto;
    z-index: 1;
}

.Etiquetas {
    font-size: 18px;
    background-color: white;
    border-radius: 15px;
    padding: 7px;
}

.Etiquetas a {
    text-decoration: none;
    color: #827a6f;
}

.Post{
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

.containerD{
    max-width: 900px !important;
}

.Opciones {
    border: none !important;
    background: none !important;
}

body{
    background-color: #fdf3eb;
}