.card{
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border:1px solid black;
}

.card-img-top{
    border-radius: 0px !important;
}

.perfil-barra{
    margin: 10px 0 10px 0;
    color: #000000 !important;
}

.publicacion{
    padding-left: 1px !important;
    border: 2px gray;
}

.likes{
    margin-bottom: 10px;
}
.fa-heart-filled {
    color: rgb(255, 0, 0);
}
.fa-heart {
    transition: color 0.3s ease;
}

.btn-reporte{
    color:white;
    background-color: #616d63;
    border-radius: 10px;
}

.etiquetas{
    text-decoration: none;
    color:black;
    margin-left: 15px;
}

.dropdown-report:hover{ 
    background-color: #d2ac97;
    color: white;
  }

.stretched-link {
    z-index: 1;
}

.likes {
    z-index: 2;
}


.perfil-usuario{
    color:black;
}

.EtiquetasAside {
    position: absolute;
    color: #827a6f;
    top: 150px;
    right: 0;
    background: #ede6d3 !important;
    padding: 30px 30px 70px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    max-width: 20%;
    overflow: auto;
    z-index: 1;
}

.CampanasAside {
    position: absolute;
    color: #827a6f;
    top: 150px;
    left: 0;
    background: #ede6d3 !important;
    padding: 30px 30px 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    max-width: 20%;
    overflow: auto;
    z-index: 1;
}

.Etiquetas {
    font-size: 18px;
    background-color: white;
    border-radius: 15px;
    padding: 7px;
}

.Etiquetas a {
    text-decoration: none;
    color: #827a6f;
}

.sticky-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    border-color: white;
}
.sticky-button:hover {
    background-color: white;
    border-color: white;
}

.hideMe {
    display: none;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.carousel-indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.carousel-indicator.active {
    background-color: #007bff;
}

#myBtn {
    display: block; /* Asegura que el botón esté visible */
    position: fixed; /* Hace que el botón permanezca en la misma posición incluso al hacer scroll */
    bottom: 5%; /* Ajusta la distancia desde el fondo de la pantalla, en este caso 20% de la altura de la pantalla */
    right: 490px; /* Mantén el botón a 30px del borde derecho */
    z-index: 99; 
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 60px;
}


#myBtn:hover {
    color: white;  
}