aside{
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    height: 100vh; 
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.card{
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border:1px solid black;
}

.box-aside-izquierda{
    border-radius: 0 10px 10px 0;
    margin-top: 100px;
    text-align: center;
    justify-content: start;
    background-color: #EDE6D3;
    padding-bottom: 10px;
}

.proyecto-box{
   border-radius: 20px;
   margin: 15px 5px 15px 5px; /* top, derecha, bottom, izquierda*/
   background-color: white;
   text-align: start;
}

.box-aside-derecha{
    border-radius: 10px 0 0 10px;
    margin-top: 100px;
    text-align: center;
    justify-content: start;
    background-color: #EDE6D3;
    padding-bottom: 10px;
}

.card-img-top{
    border-radius: 0px !important;
}

.perfil-barra{
    margin: 10px 0 10px 0;
    color: #000000 !important;
}

.publicacion{
    padding-left: 1px !important;
    border: 2px gray;
}

.likes{
    margin-bottom: 10px;
}
.fa-heart-filled {
    color: rgb(255, 0, 0);
}
.fa-heart {
    transition: color 0.3s ease;
}

.btn-reporte{
    color:white;
    background-color: #616d63;
    border-radius: 10px;
}

.etiquetas{
    text-decoration: none;
    color:black;
    margin-left: 15px;
}

.dropdown-report:hover{ 
    background-color: #d2ac97;
    color: white;
  }

.stretched-link {
    z-index: 1;
}

.likes {
    z-index: 2;
}


.perfil-usuario{
    color:black;
}