body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


#contenedor {
    flex: 1;
    margin: 0;
    padding: 0;
}

h3 {
    color: #d2ac97;
}

/* aside */
#aside {
    position: sticky;
    top: 0;
    height: 100vh; 
    overflow-y: auto;
}

/* header msj*/
#msjHeader {
    position: sticky;
    top: 0;
    background-color: #916a53; 
    z-index: 1000; /* por encima del contenido desplazable */
}


#enviarMensaje {
    position: sticky;
    bottom: 0;
    background-color: #bcc9b8; 
    padding: 10px;
    z-index: 1000; 
}

/*Cada chat dentro del aside*/
.nav-link {
    color: #616d63;
}

#usuarioActual {
    color: white;
}


#chatContainer {
    display: flex;
    flex-direction: column;
}

/* Cuando no es el usuario loggeado*/
.other-message {
    background-color: #B1B2B5;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: fit-content;
    word-wrap: break-word;
    max-width: 45%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    text-align: justify;
}

/* Cuando es el usuario loggeado*/
.user-message {
    background-color: #bcc9b8;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: fit-content;
    word-wrap: break-word;
    max-width: 45%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    text-align: justify;
}

/*Color del usuario cuando está seleciconado*/
.nav-pills .nav-link.active {
    background-color: #b5c5be;
}

#iniciarChat{
    background-color: #bcc9b8;
    color: #424b3f;
}


.btn{
    background-color: #4e5d49be;
    border: #4e5d49;
    color: #e0ecdc;
}
