body{
    background:#f9f5f2;
 }
 
 .nav-item{
    margin-right: 5px;
 }

 aside{
    float: right;
    width: 300px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
 }

 .avatar-xxl {
     height: 7rem;
     width: 7rem;
 }
 
 .card-top{
    margin-top: 60px;
 }

 .card-2 {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 3px #eaedf2;
    box-shadow: 0 2px 3px #eaedf2;
    background-color: #f6eae1;
    border-radius: 15px;
    width: 385px;
}

 .rounded-circle {
     border-radius: 50%!important;
 }
 
 .corazonEj{
 width: 16px;
 height: 14.76px;
 }

 .btn-success{
    background-color: #bcc9b8; 
    border: #bcc9b8;
    color: #827a6f;
}

@media (min-width: 768px) {
   .container-small {
       width: 300px;
   }
   .container-large {
       width: 970px;
   } 
} 
@media (min-width: 992px) {
   .container-small {
       width: 500px;
   }
   .container-large {
       width: 1170px;
   } 
} 
@media (min-width: 1200px) {
   .container-small {
       width: 700px;
   }
   .container-large {
       width: 1500px;
   } 
}

.container-small, .container-large {
   max-width: 100%;
}