body{
    background:#f9f5f2;
 }
 
 .nav-item{
    margin-right: 5px;
 }

 aside{
    float: right;
    width: 300px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
 }

 .avatar-xxl {
    height: 10rem;
    width: 10rem;
 }
 
 .card-top{
    margin-top: 60px;
 }

 .card-2 {
    margin-bottom: 20px;
    margin-left: 25px;
    -webkit-box-shadow: 0 2px 3px #eaedf2;
    box-shadow: 0 2px 3px #eaedf2;
    background-color: #f6eae1;
    border-radius: 15px;
    width: 385px;
}

.card-3 {
    margin: 10px 10px 10px 10px;
    box-shadow: 0 2px 3px #eaedf2;
    background-color: #f6eae1;
    border-radius: 15px;
}

 .rounded-circle {
     border-radius: 50%!important;
 }
 
 .corazonEj{
 width: 16px;
 height: 14.76px;
 }

 .btn-success{
    background-color: #bcc9b8; 
    border: #bcc9b8;
    color: #827a6f;
}

.container-small, .container-large {
   max-width: 100%;
}

.perfil-barra{
    margin: 10px 0 10px 0;
    margin-top: 15px;
    color: #000000 !important;
}

.CampaniasNav {
    background-color: #8b9e8f;
    color: white;
    width: 28%;
    border-bottom-right-radius: 45px;
    height: 54px;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.espacio{
    margin-bottom: 50px;
}