body{
    background-color: #F9F5F2 !important; 
}

textarea {
    resize: none;
  }

.contenedor-publicacion {
    max-width: 1300px;
    max-height: 1400px;
    margin-top: 55px;
    margin-bottom: 65px;
    background-color: #fff;
    border: 0.5px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.encabezado-publicacion {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.contenido-publicacion{
    padding: 20px;
}

.encabezado-publicacion-comentarios {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #eee;
}
.imagen-publicacion {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.caja-enviar-mensaje {
    padding: 25px;
    border-left: 1px solid #eee;
    max-height: 520px; 
    overflow-y: auto; 
    position: relative; 
    word-wrap: break-word; 
}

.commentario {
    margin-bottom: 15px;
    word-wrap: break-word; 
}

.caja-comentarios {
    position: relative;
}

.nuevo-comentario {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute; 
    bottom: 0px;
    width: 100%;
}
